.container {
    margin-top: 5%;
    max-height: 90vh;
    overflow-y: scroll;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}

.formControl {
    width: 40%
}

.places {
    width: 90%;
    margin-left: 7%;
    margin-top: 5%;
}

::-webkit-scrollbar {
    width: 8px;
   }
     
::-webkit-scrollbar-thumb {
    background: darkslateblue;
   }