.container {
    padding: 25px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: left;
}

.loading {
    display: grid;
    place-content: center;
    margin-top: 50%;
}

.formControl {
    margin-bottom: 10%;
}

.list {
    height: 77vh;
    overflow: auto;
    padding: 5px;
}
