.container {
    margin-top: 5%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.formControl {
    width: 40%
}

.places {
    width: 90%;
    margin-left: 7%;
}